.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}
.container:hover{
    text-decoration: line-through;
}
.trashIcon{
    cursor: pointer;
    margin-right: 20px;
    background-color: transparent;
    border-style: none;
   
}
p{
    margin-left: 20px;
    color: white;

}